<div class="container flex flex-col justify-between h-[88vh]">
  <div *ngIf="group">
    <div
      *ngFor="let user of sortedUsers(); let i = index"
      [ngClass]="getPodiumClass(i)"
      class="flex flex-row justify-between my-7">
      <div>{{ user.name }}</div>
      <div>{{ user.points }}pts</div>
    </div>
  </div>

  <div role="alert" class="alert alert-info" *ngIf="showCurrentSong">
    C'était {{ currentSong.title }} de {{ currentSong.artist }} !!
  </div>

  <audio #audioPlayer>
    <source
      *ngIf="currentSong"
      [src]="currentSong.previewUrl"
      type="audio/mp3" />
    Votre navigateur ne supporte pas l'élément audio.
  </audio>
  <!-- EndedGame window -->
  <div *ngIf="hasGameEnded">
    <div class="fixed inset-0 z-10 flex items-center justify-center">
      <div class="modal-overlay absolute inset-0 bg-black opacity-50"></div>
      <div
        class="modal-container flex flex-col items-center justify-center p-6 gap-6 bg-secondary-content text-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <img src="/assets/img/achievement.png" alt="Succès" width="40px" />
        <div>
          <span class="font-bold">{{ winner?.name }}</span> a remporté la partie
          !
        </div>
        <button
          class="btn bg-primary text-white w-60"
          (click)="redirectToHome()">
          Quitter
        </button>
      </div>
    </div>
  </div>
  <!-- End EndedGame window -->
  <div>
    <div *ngFor="let message of chatMessages">
      <div *ngIf="message.status; else elseBlock" class="text-secondary">
        {{ message.message }}
      </div>
      <ng-template #elseBlock>
        <div>{{ message.user }}: {{ message.message }}</div>
      </ng-template>
    </div>

    <div class="flex mt-2">
      <input
        type="text"
        placeholder="Écrire..."
        class="input input-bordered w-full max-w-xs"
        #guess
        (keyup.enter)="submitGuess(guess)" />
      <button class="btn bg-primary" (click)="submitGuess(guess)">
        Envoyer
      </button>
    </div>
  </div>
</div>
