<div class="container flex flex-col justify-between h-[88vh]">
  <div class="flex flex-row justify-between my-7">
    <div class="text-yellow-500">
      <div>Joueur</div>
      <div>355pts</div>
    </div>
    <div class="text-zinc-400">
      <div>Joueur</div>
      <div>355pts</div>
    </div>
    <div class="text-amber-800">
      <div>Joueur</div>
      <div>355pts</div>
    </div>
  </div>

  <div *ngIf="isUrlReady && currentSong">
    <audio controls #audioPlayer>
      <source [src]="currentSong.previewUrl" type="audio/mp3" />
      Votre navigateur ne supporte pas l'élément audio.
    </audio>
  </div>

  <div class="flex">
    <input
      type="text"
      placeholder="Écrire..."
      class="input input-bordered w-full max-w-xs"
      #guess
      (keyup.enter)="submitGuess(guess)"
    />
    <button class="btn bg-primary" (click)="submitGuess(guess)">Envoyer</button>
  </div>
</div>
