.first-place {
  color: gold; /* Couleur pour la première place */
}

.second-place {
  color: silver; /* Couleur pour la deuxième place */
}

.third-place {
  color: #cd7f32; /* Couleur pour la troisième place (bronze) */
}
