<div class="container flex flex-col justify-between h-[88vh]">
  <div *ngIf="group">
    <div
      *ngFor="let user of sortedUsers(); let i = index"
      [ngClass]="getPodiumClass(i)"
      class="flex flex-row justify-between my-7">
      <div>{{ user.name }}</div>
      <div>{{ user.points }}pts</div>
    </div>
  </div>

  <div role="alert" class="alert alert-info" *ngIf="showCurrentSong">
    C'était {{ currentSong.title }} de {{ currentSong.artist }} !!
  </div>

  <audio #audioPlayer>
    <source
      *ngIf="currentSong"
      [src]="currentSong.previewUrl"
      type="audio/mp3" />
    Votre navigateur ne supporte pas l'élément audio.
  </audio>

  <div>
    <div *ngFor="let message of chatMessages">
      <div *ngIf="message.status; else elseBlock" class="text-secondary">
        {{ message.message }}
      </div>
      <ng-template #elseBlock>
        <div>{{ message.user }}: {{ message.message }}</div>
      </ng-template>
    </div>

    <div class="flex mt-2">
      <input
        type="text"
        placeholder="Écrire..."
        class="input input-bordered w-full max-w-xs"
        #guess
        (keyup.enter)="submitGuess(guess)" />
      <button class="btn bg-primary" (click)="submitGuess(guess)">
        Envoyer
      </button>
    </div>
  </div>
</div>
