<div class="infos-container flex flex-col items-center p-2 my-7">
  <img *ngIf="hasProfilePic()" [src]="user?.avatar" alt="Avatar du profil" />
  <img
    *ngIf="!hasProfilePic()"
    src="assets/img/user.png"
    alt="Avatar par défaut"
    width="100px"
  />
  <p class="font-bold mt-3">{{ user?.name }}</p>
  <p>
    <span class="text-secondary">{{ user?.nbWin }}</span> gagnées -
    <span class="text-primary">{{ nbLose }}</span> perdues
  </p>
</div>

<div class="achievements flex justify-center my-7">
  <p *ngIf="!achievements" class="text-zinc-600 italic">
    Aucun succès pour le moment
  </p>
  <div class="card-container overflow-x-auto flex flex-nowrap">
    <app-achievement-card
      *ngFor="let achievement of achievements"
      [achievement]="achievement"
    ></app-achievement-card>
  </div>
</div>

<div class="my-10">
  <p class="mb-3">Historique de victoires</p>
  <div class="flex justify-center">
    <app-list [datas]="history" class="w-full"></app-list>
  </div>
</div>
<div class="my-7">
  <div class="flex align-center justify-between">
    <div class="mb-3">Vos musiques</div>
    <div class="text-secondary mb-3 cursor-pointer" (click)="refresh()">
      Rafraichir
    </div>
  </div>
  <div class="flex justify-center">
    <app-list [datas]="songs" class="w-full"></app-list>
  </div>
</div>
<div class="fixed flex justify-center bottom-5 w-full">
  <button class="btn bg-primary text-white" (click)="openModal()">
    Jouer !
  </button>
  <app-modal *ngIf="showModal" (closeModalEvent)="closeModal()"></app-modal>
</div>
