<div class="flex flex-col items-center gap-8">
  <button class="btn btn-outline" (click)="loginBtn()">
    <img src="/assets/img/spotify.png" alt="spotify icon" width="25px" />Login
    with spotify
  </button>
  <p class="text-center">
    Blindle : Le blindtest en ligne qui transforme votre passion pour la musique
    en un défi amusant avec vos amis. Connectez-vous, devinez les titres et
    artistes, et découvrez qui est le maestro de la musique parmi vous. De plus,
    Blindle se synchronise automatiquement avec Spotify pour intégrer vos
    musiques préférées dans le jeu. Prêt à mettre vos oreilles à l'épreuve ?
    Rejoignez-nous dès maintenant et que la fête musicale commence !
  </p>
</div>
