<div class="fixed inset-0 z-10 flex items-center justify-center">
  <div
    class="modal-overlay absolute inset-0 bg-black opacity-50"
    (click)="sendCloseModal()"
  ></div>
  <div
    class="modal-container flex flex-col items-center p-6 gap-6 bg-secondary-content text-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <label for="group-token">Rejoindre : </label>
    <input
      class="input input-bordered"
      type="text"
      name="group-token"
      id="group-token"
    />
    <div>
      <button class="btn bg-secondary text-white">Créer un groupe</button>
    </div>
  </div>
</div>
